DATABASE_URL=postgresql://user:password@host-pooler.region.aws.neon.tech/dbname?channel_binding=require&sslmode=require
DIRECT_URL=postgresql://user:password@host.region.aws.neon.tech/dbname?sslmode=require
